/src/backend/Toyzz/.idea/.idea.Toyzz/.idea/aws.xml
/src/backend/Toyzz/.idea/.idea.Toyzz/.idea/encodings.xml
/src/backend/Toyzz/.idea/.idea.Toyzz/.idea/indexLayout.xml
/src/backend/Toyzz/.idea/.idea.Toyzz/.idea/vcs.xml
